{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container loginPage">
		<article>
			<header>
				<h3>Espace de connexion</h3>
			</header>
			<form action="" method="post">
				<label for="email">Votre email :
				</label>
				<input type="email" id="email" name="email" required placeholder="lamarquise@gmail.com">
				<fieldset>
					<label for="password">Votre mot de passe :
					</label>
					<input type="password" id="password" name="password" required>
				</fieldset>
				<div class="buttonsLine">
					<button type="submit">Connexion</button>
				</div>
			</form>
		</article>
	{% endblock %}
