<!doctype html>
<html lang="fr" data-theme="dark">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/images/favicon.png">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
		<link rel="script" href="https://hammerjs.github.io/dist/hammer.min.js">
		<title>
			{% block title %}Meet & zik{% endblock %}
		</title>
		<link rel="stylesheet" href="/assets/css/style.css"> 
		{% block stylesheet %}{% endblock %}
		<script src="https://kit.fontawesome.com/b0fe03b679.js" crossorigin="anonymous"></script>
	</head>

		<body class="container-fluid">
			{% block navbar %}
				{% include "User/navbar.html.twig" %}
			{% endblock %}
			
			{% block content %}{% endblock %}
			
			{% block javascript %}{% endblock %}
			<script src="/assets/script.js"></script>
			<script src="/assets/hammer.min.js"></script>

			</body>
		</html>
