{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container login-page">

		{% for error in errors %}
			<article>
				<header>
					Verifier les informations saisies
				</header>
				<ul>
					<li>{{ error }}</li>
				</ul>
			</article>
		{% endfor %}

		<header>
			<h3>Espace de connexion</h3>
		</header>
		<form action="" method="post">
			<label for="email">Votre email :
			</label>
			<input type="email" id="email" name="email" required placeholder="lamarquise@gmail.com">
			<fieldset>
				<label for="password">Votre mot de passe :
				</label>
				<input type="password" id="password" name="password" required>
			</fieldset>
			<div class="buttons-line">
				<button type="submit">Connexion</button>
			</div>
		</form>
	</div>
{% endblock %}
