/* login.html.twig CSS */

.login-page, .sign-up-page h2, h3, h4{
    text-align: center;
}

.login-page h2, .sign-up-page h2{
    margin-top: 16px;
}

.login-page h3, .sign-up-page h3{
    margin: 24px;
}

.login-page article{
    background-image: url(../images/scene-on-fire.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sign-up-page article{
    background-image: url(../images/scene-on-fire.png);
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center;
}

/* mise en forme video d'en-tête */

.video-header video {
    width: 100%; 
    height: auto; 
}

.video-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  /* Bouton FIND */

.search-section {
    text-align: center;
    padding: 2.5rem 0;
}

.find-button {
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
   
  }

.find-button:hover {
    background-color: #555;
}

.find-button {
    padding: 1rem 2rem;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem; 
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* MEDIA QUERIES */

@media (min-width: 576px) {
    .sign-up-page article, .login-page article {
        background-image: none;
    }
}

@media (min-width: 768px) {
    .sign-up-page article, .login-page article {
        background-image: url(../images/scene-paysage.png);
        background-size: auto 100%;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
    .video-header video {
        max-height: 50vh;
    }
}

@media (min-width: 992px) {
    .sign-up-page article, .login-page article {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .video-header video {
        max-height: 100vh;
    }
}
