/* login.html.twig CSS */

.login-page, .sign-up-page h2, h3, h4{
    text-align: center;
}

.login-page h2, .sign-up-page h2{
    margin-top: 16px;
}

.login-page h3, .sign-up-page h3{
    margin: 24px;
}

.login-page article{
    background-image: url(../images/scene-on-fire.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sign-up-page article{
    background-image: url(../images/scene-on-fire.png);
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 576px) {
    .sign-up-page article, .login-page article {
        background-image: none;
    }
}

@media (min-width: 768px) {
    .sign-up-page article, .login-page article {
        background-image: url(../images/scene-paysage.png);
        background-size: auto 100%;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
}

@media (min-width: 992px) {
    .sign-up-page article, .login-page article {
        width: 50%;
    }
}

