{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container band-profil-page">

		<header>
			<h3>Profil d'un groupe de musique</h3>
		</header>
	</div>
			<pre>
		{{ dump(user.user_name) }}
	</pre>
	<pre>
		{{ dump(user.email) }}
	</pre>
		<pre>
		{{ dump(user.description) }}
	</pre>

{% endblock %}
